@import './reset';
@import './theme';
// @import './fonts'; <- there is a warning with fonts not being found

html {
	height: 100%;
}

* {
	scrollbar-color: #444 #121212;
}

::-webkit-scrollbar {
	width: 14px;
}

::-webkit-scrollbar:horizontal {
	height: 14px;
}

::-webkit-scrollbar-track {
	background: #121212;
	border-radius: 1px;
}

::-webkit-scrollbar-thumb {
	background: #444;
	border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
	background: #777;
}

body {
	overflow-x: hidden;

	--initial-animation-curve: cubic-bezier(0.07, 0.42, 0.42, 0.93);

	color: var(--app-color-light-contrast);
	font-family: var(--app-font-family-base);

	font-size: 1.17rem;

	// background-color: black;
	background-color: var(--app-color-shell);
}

h1,
h2,
h3 {
	display: inline-block;

	font-weight: 300;

	width: max-content;
}

h1,
h2,
h3,
a {
	transition: color var(--transition-duration) ease-in;
}

* {
	transition: background-color var(--transition-duration) ease-in,
		background var(--transition-duration) ease-in;
	transition-delay: 0;

	outline: none;

	-webkit-tap-highlight-color: transparent;
}

button {
	color: inherit;
	text-decoration: none;
	vertical-align: middle;
	font-family: inherit;

	border: 0;
	border-radius: 0;

	outline: 0;

	margin: 0;
	padding: 0;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	position: relative;

	user-select: none;
	appearance: none;
	cursor: pointer;

	background-color: transparent;
}

/**
 * Avoid 300ms click delay on touch devices that support the `touch-action`
 * CSS property.
 *
 * In particular, unlike most other browsers, IE11+Edge on Windows 10 on
 * touch devices and IE Mobile 10-11 DON'T remove the click delay when
 * `<meta name="viewport" content="width=device-width">` is present.
 * However, they DO support removing the click delay via
 * `touch-action: manipulation`.
 *
 * See:
 * - http://v4-alpha.getbootstrap.com/content/reboot/#click-delay-optimization-for-touch
 * - http://caniuse.com/#feat=css-touch-action
 * - http://patrickhlauke.github.io/touch/tests/results/#suppressing-300ms-delay
 */
a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
	touch-action: manipulation;
}

a {
	color: inherit;
	text-decoration: inherit;
}

@media screen and (max-width: 500px) {
	html {
		font-size: 80%;
	}
}

h4,
h6 {
	margin-bottom: 40px;
	font-size: 2.4rem;
	background-image: var(--app-background-gradient-light_violet);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

h4 {
	font-weight: 800;
	letter-spacing: -0.5px;
}

h6 {
	font-size: 1.4rem;
}

h5 {
	max-width: 560px;
	margin-bottom: 48px;
	font-size: 1.4rem;
	font-weight: 600;
	text-align: center;
	color: var(--app-color-foreground-violet-light);
}

.section-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.section-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: min(100%, var(--app-size-container-max-width));
	margin-top: 80px;
	margin-bottom: 120px;
}

.note {
	width: min(100%, 700px);
	padding: 32px;
	color: var(--app-color-foreground-violet-mid);
	font-size: 1.2rem;
	font-weight: 600;
	text-align: center;
	box-shadow: inset 0 0 0 2px var(--app-color-foreground-violet-dark);
	border-radius: 6px;
}

.social-button-container a,
.social-button-container button,
.social-button {
	display: flex;
	align-items: center;
	gap: 40px;
	height: 64px;
	width: 100%;
	max-width: 600px;
	justify-items: center;
	padding: 16px 36px;
	padding-left: 32px;
	font-size: 1.1rem;
	font-weight: 600;
	border-radius: 5px;
	box-shadow: inset 0 0 0 2px var(--app-color-foreground-violet-dark);
	background-color: var(--app-color-shell);
	transition: 0.16s ease;
	transition-property: background-color, box-shadow, color, text-shadow,
		transform;
	&.slow-bg {
		transition: background-color 0.5s, box-shadow 0.16s, color 0.16s,
			text-shadow 0.16s, transform 0.16s;
		transition-timing-function: ease;
	}
	&:hover {
		box-shadow: inset 0 0 0 2px var(--app-color-foreground-violet);
		transform: translateY(-6px);
	}
	&.no-transform:hover {
		transform: none;
	}
	img {
		height: 24px;
		width: auto;
		max-width: 24px;
		transition: 0.16s ease;
		transition-property: transform;
	}
	&.feature {
		height: 88px;
		padding: 16px 40px;
		gap: 40px;
		color: #fff;
		font-size: 1.4rem;
		font-weight: 700;
		line-height: 1.26;
		text-shadow: 0 1px 1px rgba(0, 54, 92, 0.3);
		box-shadow: inset 0 0 0 2px var(--app-color-foreground-violet-bright);
		background: none;
		background-color: rgba(0, 0, 0, 0.6);
		&:hover {
			box-shadow: inset 0 0 0 4px var(--app-color-foreground-violet);
		}
		span {
			display: block;
			color: rgba(255, 255, 255, 0.8);
			font-size: 1.1rem;
			font-weight: 600;
			transform: translateY(-1px);
		}
		svg {
			transform: scale(1.6);
		}
	}
	&.blue,
	&.feature.blue {
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
		background-color: var(--app-color-background-blue);
		&:hover {
			box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
			background-color: var(--app-color-foreground-blue-bright);
		}
	}
	&.centered {
		justify-content: center;
	}
}
